@import '../../mixins';

#repository-drag-element {
  position: absolute;
  z-index: 1000;
  display: flex;
  align-items: center;
  max-width: 300px;
  padding: var(--spacing-half) var(--spacing);
  background-color: var(--background-color);
  border: 1px solid var(--box-border-color);
  border-radius: var(--border-radius);
  box-shadow: var(--base-box-shadow);
  pointer-events: none;

  .icon-for-repository {
    flex-shrink: 0;
    margin-right: var(--spacing-half);
  }

  .name {
    @include ellipsis;
  }
}
